 Importing Libraries

In [42]:
import pandas as pd
import numpy as np

Importing Dataset

In [43]:
data = pd.read_csv("D:/DATASCIENCE/MLAnalysis/heart.csv")

In [44]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [45]:
data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

Find Shape of Our Dataset

In [46]:
data.shape

(1025, 14)

Get Information About Our Dataset

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

Get Overall Statistics About The Dataset

In [48]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

Check Null Values In The Dataset

In [49]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

Check Duplicate Values In The Dataset

In [50]:
data_dup=data.duplicated().any()

In [51]:
data_dup

True

In [52]:
data=data.drop_duplicates()

In [53]:
data.duplicated().any()

True

Extracting Independent And Dependent Variable

In [54]:
X = data.drop(columns=['target'])

In [55]:
y = data['target']

Splitting The Dataset Into The Training Set And Test Set

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [65]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
527,62,0,0,124,209,0,1,163,0,0.0,2,0,2
359,53,0,2,128,216,0,0,115,0,0.0,2,0,0
447,55,1,0,160,289,0,0,145,1,0.8,1,1,3
31,50,0,1,120,244,0,1,162,0,1.1,2,0,2
621,48,1,0,130,256,1,0,150,1,0.0,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
832,68,1,2,118,277,0,1,151,0,1.0,2,1,3
796,41,1,1,135,203,0,1,132,0,0.0,1,0,1
644,44,1,2,120,226,0,1,169,0,0.0,2,0,2
404,61,1,0,140,207,0,0,138,1,1.9,2,1,3
842,58,1,2,112,230,0,0,165,0,2.5,1,1,3

In [66]:
y_test

527    1
359    1
447    0
31     1
621    0
      ..
832    1
796    1
644    1
404    0
842    0
Name: target, Length: 205, dtype: int64

Import The model

In [58]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression

Model Training

In [68]:
log = LogisticRegression(solver='lbfgs', max_iter=1000)
log.fit(X_train,y_train)

LogisticRegression(max_iter=1000)

Predicting the Test set result

In [69]:
y_pred = log.predict(X_test)

In [70]:
y_pred

array([1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0], dtype=int64)

To compare the actual output values  with the predicted value

In [71]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(df.to_string())
print(data.describe())

      Actual  Predicted
527        1          1
359        1          1
447        0          0
31         1          1
621        0          0
590        1          1
905        0          0
737        0          0
76         1          1
948        0          0
432        1          1
70         0          0
680        1          1
101        1          1
845        0          0
656        0          1
310        0          0
344        1          1
837        1          1
174        0          0
96         1          1
822        0          0
598        0          0
218        0          0
420        1          1
208        1          1
774        1          1
290        1          1
889        0          0
670        0          1
903        0          1
1004       1          1
1012       0          1
329        1          1
1001       1          1
762        1          1
490        1          1
350        1          0
500        1          1
307        1          1
853        0          0
351        0          0
643        1          1
439        0          0
819        0          0
833        0          0
518        0          0
554        0          0
289        0          1
292        1          0
213        1          1
966        0          0
59         0          1
692        0          0
321        1          1
10         1          1
331        0          0
334        0          0
918        0          1
86         1          1
332        1          1
743        1          0
450        0          0
468        1          0
305        0          0
30         0          0
558        1          1
405        0          1
54         0          0
23         1          1
1018       0          1
481        0          0
3          0          0
231        1          1
355        1          1
673        1          1
756        0          0
843        0          1
667        0          1
215        1          1
634        0          0
318        0          0
986        0          0
352        0          0
715        1          1
394        0          0
198        1          1
594        0          0
863        0          0
924        0          1
39         0          0
790        0          0
314        1          1
761        1          1
580        1          1
66         1          1
717        0          1
67         0          0
294        0          0
921        0          0
464        1          0
107        0          0
629        0          1
576        1          1
254        0          0
723        1          1
929        0          0
539        1          1
915        0          0
525        1          1
543        0          1
754        1          1
100        1          1
88         0          0
63         1          1
848        1          1
893        0          1
139        1          1
603        1          1
620        0          0
542        1          0
494        1          1
589        0          0
109        0          0
962        1          0
247        0          0
922        1          1
697        0          1
486        0          1
136        1          1
932        1          1
688        0          0
758        1          1
158        1          0
493        0          0
501        1          1
682        0          0
973        1          1
256        1          1
734        0          1
857        1          1
959        1          1
617        1          1
983        1          0
901        1          1
210        1          1
168        1          1
939        1          1
440        0          1
1022       0          0
545        0          1
55         0          0
120        1          1
616        1          1
25         0          0
72         0          0
532        0          1
44         1          1
296        0          0
199        0          0
753        1          1
793        1          1
485        0          0
209        0          0
265        1          0
377        1          0
894        0          0
788        0          0
528        1          0
451        1          1
595        0          0
745        1          1
965        1          1
526        0          0
306        1          1
319        1          1
60         1          1
482        0          0
854        0          1
615        1          1
541        1          1
428        0          0
184        1          1
881        0          1
982        1          1
599        1          1
906        1          1
778        0          1
261        1          1
342        1          1
522        1          1
237        0          1
110        0          1
497        0          1
516        0          0
361        1          0
429        0          1
1013       0          0
277        1          1
260        1          1
832        1          1
796        1          1
644        1          1
404        0          0
842        0          0
               age          sex           cp     trestbps        chol  \
count  1025.000000  1025.000000  1025.000000  1025.000000  1025.00000
mean     54.434146     0.695610     0.942439   131.611707   246.00000
std       9.072290     0.460373     1.029641    17.516718    51.59251
min      29.000000     0.000000     0.000000    94.000000   126.00000
25%      48.000000     0.000000     0.000000   120.000000   211.00000
50%      56.000000     1.000000     1.000000   130.000000   240.00000
75%      61.000000     1.000000     2.000000   140.000000   275.00000
max      77.000000     1.000000     3.000000   200.000000   564.00000

               fbs      restecg      thalach        exang      oldpeak  \
count  1025.000000  1025.000000  1025.000000  1025.000000  1025.000000
mean      0.149268     0.529756   149.114146     0.336585     1.071512
std       0.356527     0.527878    23.005724     0.472772     1.175053
min       0.000000     0.000000    71.000000     0.000000     0.000000
25%       0.000000     0.000000   132.000000     0.000000     0.000000
50%       0.000000     1.000000   152.000000     0.000000     0.800000
75%       0.000000     1.000000   166.000000     1.000000     1.800000
max       1.000000     2.000000   202.000000     1.000000     6.200000

             slope           ca         thal       target
count  1025.000000  1025.000000  1025.000000  1025.000000
mean      1.385366     0.754146     2.323902     0.513171
std       0.617755     1.030798     0.620660     0.500070
min       0.000000     0.000000     0.000000     0.000000
25%       1.000000     0.000000     2.000000     0.000000
50%       1.000000     0.000000     2.000000     1.000000
75%       2.000000     1.000000     3.000000     1.000000
max       2.000000     4.000000     3.000000     1.000000

Evaluating the Algorithm

In [72]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.2048780487804878
Mean Squared Error: 0.2048780487804878
Root Mean Squared Error: 0.45263456427949444

In [77]:
from sklearn.metrics import accuracy_score
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7951219512195122